@model  Mooshak2_Hopur5.Models.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Teacher") || User.IsInRole("Student"))
    {
        <div class="col-md-5">
            <table class="table assignmentTable">
                <caption><span class="glyphicon glyphicon-th-list"></span>Assignments</caption>
                @foreach (var assignment in Model.AssignmentList.Take(3))
                    {
                        string assignmentName = assignment.AssignmentName;
                    <tr>
                        <td>@Html.ActionLink(assignmentName, "ViewAssignment", "Assignment", new { id = assignment.AssignmentId }, null)</td>
                        <td>@assignment.DueDate</td>
                    </tr>
                }
            </table>
            @Html.ActionLink(" View all", "GetAllAssignments", "Assignment", routeValues: null, htmlAttributes: new { @class = "btn btn-assignment" })
        </div>

        <div class="col-md-5">
            <table class="table courseTable">
                <caption><span class="glyphicon glyphicon-book"></span>Courses</caption>
                @foreach (var course in Model.CourseList.Take(3))
                    {
                        string courseName = course.CourseNumber + "-" + course.CourseName;
                    <tr>
                        <td>
                            @Html.ActionLink(courseName, "ViewCourse", "Course", new { id = course.CourseId }, null)
                        </td>
                    </tr>
                }
            </table>
            @Html.ActionLink(" View all", "GetAllCourses", "Course", routeValues: null, htmlAttributes: new { @class = "btn btn-course" })
        </div>
    }
    <div class="col-md-5">
        <table class="table announcementTable">
            <caption><span class="glyphicon glyphicon-info-sign"></span>Announcements</caption>
            @foreach (var announcement in Model.AnnouncementList.Take(3))
                {
                <tr>
                    <td>
                        @announcement.DateCreate.Date.ToShortDateString()
                    </td>
                    <td class="comment more">
                        @Html.Raw(announcement.Announcement)
                    </td>
                </tr>
            }
        </table>
        @Html.ActionLink("Add announcement ", "AddAnnouncement", "Announcement", routeValues: null, htmlAttributes: new { @class = "btn btn-announcement" })
        @Html.ActionLink(" View all", "GetAllAnnouncements", "Announcement", routeValues: null, htmlAttributes: new { @class = "btn btn-announcement" })
    </div>
    if (User.IsInRole("Admin"))
    {
        <div class="col-md-5">
            <table class="table shourcutTable">
                <tr>
                    <td>
                        @Html.ActionLink("Create user", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-course btn-large" })
                    </td>
                        </tr>
                <tr>
                    <td>
                        @Html.ActionLink("Create course", "CreateCourse", "Course", routeValues: null, htmlAttributes: new { @class = "btn btn-course btn-large" })
                    </td>
                        </tr>
            </table>
        </div>
    }
}
else
{
    @Html.Action("Login", "Account", null)
}