@model  Mooshak2_Hopur5.Models.ViewModels.HomeViewModel
@{
     ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Teacher") || User.IsInRole("Student"))
    {
        <div class="col-md-5">
            <h2>Assignments</h2>    
            <ul class="list-group">
                @foreach (var assignment in Model.AssignmentList.Take(3))
                {
                    string assignmentName = assignment.AssignmentName;
                    <li class="list-group-item">@Html.ActionLink(assignmentName, "ViewAssignment", "Assignment", new { id = assignment.AssignmentId }, null)</li>
                }
            </ul>
        </div id="dataListItem">

        <div class="col-md-5">
            <h2>Courses</h2>
            <ul class="list-group">
                @foreach (var course in Model.CourseList.Take(3))
                {
                    string courseName = course.CourseNumber + "-" + course.CourseName;
                    <li class="list-group-item">@Html.ActionLink(courseName, "ViewCourse", "Course", new { id = course.CourseId }, null)</li>
                }
                @Html.ActionLink(" This semester", "GetAllCoursesOnSemester", "Course", routeValues: null, htmlAttributes: new { id = "registerLink" })
                @Html.ActionLink(" View all", "GetAllCourses", "Course", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </ul>
        </div>
    }
    <div class="col-md-5">
        <h2>Announcements</h2>
        <ul class="list-group">
            @foreach (var announcement in Model.AnnouncementList.Take(3))
            {
                <li class="list-group-item">
                    <div class="comment more">
                        @Html.Raw(announcement.Announcement)
                    </div>
                </li>
            }
            @Html.ActionLink("Add announcement ", "AddAnnouncement", "Announcement", routeValues: null, htmlAttributes: new { id = "registerLink" })
            @Html.ActionLink(" View all", "GetAllAnnouncements", "Announcement", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </ul>
    </div>
    if(User.IsInRole("Admin"))
    {
        <div class="col-md-5">
            <h2>Shortcuts</h2>
            @Html.ActionLink("Create user", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-large" })
            @Html.ActionLink("Create course", "CreateCourse", "Course", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-large" })
        </div>
    }
}
else
{
    @Html.Action("Login", "Account", null)
}