@model  Mooshak2_Hopur5.Models.ViewModels.AssignmentViewModel

@{
    ViewBag.Title = "Create Assignment";
}

<h2>Create new assignment</h2>

@using (Html.BeginForm("AddAssignment", "Assignment", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{

        <div class="row">
            <div class="col-md-5 form-group">
                @Html.LabelFor(m => m.AssignmentName, new { @class = "control-label" })
                @Html.ValidationMessageFor(m => m.AssignmentName, null, new { @class = "text-danger" })
                @Html.EditorFor(m => m.AssignmentName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 form-group">
                @Html.LabelFor(m => m.CourseId, new { @class = "control-label" })
                @Html.ValidationMessageFor(m => m.CourseId, null, new { @class = "text-danger" })
                @Html.DropDownListFor(m => m.CourseId, (Model.UserCourses as SelectList), new { @class = "form-control", data_placeholder = "Agent(s)." })
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 form-group">
                @Html.LabelFor(m => m.AssignmentDescription, new { @class = "control-label" })
                @Html.ValidationMessageFor(m => m.AssignmentDescription, null, new { @class = "text-danger" })
                @Html.EditorFor(m => m.AssignmentDescription, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 form-group">
                @Html.LabelFor(m => m.Weight, new { @class = "control-label" })
                @Html.ValidationMessageFor(m => m.Weight, null, new { @class = "text-danger" })
                @Html.EditorFor(m => m.Weight, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 form-group">
                @Html.LabelFor(m => m.MaxSubmission, new { @class = "control-label" })
                @Html.ValidationMessageFor(m => m.MaxSubmission, null, new { @class = "text-danger" })
                @Html.EditorFor(m => m.MaxSubmission, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 form-group">
                @Html.LabelFor(m => m.AssignDate, new { @class = "control-label" })
                @Html.ValidationMessageFor(m => m.AssignDate, null, new { @class = "text-danger" })
                @Html.EditorFor(m => m.AssignDate, new { htmlAttributes = new { @class = "form-control", id = "datepicker" } })
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 form-group">
                @Html.LabelFor(m => m.DueDate, new { @class = "control-label" })
                @Html.ValidationMessageFor(m => m.DueDate, null, new { @class = "text-danger" })
                @Html.EditorFor(m => m.DueDate, new { htmlAttributes = new { @class = "form-control", id = "datepicker" } })
            </div>
        </div>
        <div class="row">
            <div class="product-attachments">
                <div class="col-md-11 form-group">
                    @Html.LabelFor(m => m.AssignmentUploaded, new { @class = "control-label" })
                    @Html.ValidationMessageFor(m => m.AssignmentUploaded, null, new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.AssignmentUploaded, new { type = "file", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-3">
            <input style="width:100%" type="submit" value="Submit" class="btn btn-assignment">
        </div>
        
        @Html.TextBoxFor(m => m.CourseId, new { style = "visibility:hidden" })
}