@model  Mooshak2_Hopur5.Models.ViewModels.AssignmentPartViewModel

@{
    ViewBag.Title = "Add test case";
}

<h2>AddPartToAssignment</h2>

@using (Html.BeginForm("AddTestCaseToPart", "Assignment", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.AssignmentId)
    @Html.HiddenFor(m => m.AssignmentPartId)
    //Bætt við fyrir kynningu
    @Html.HiddenFor(m => m.AssignmentPartName)
    //Bætt við fyrir kyningu
    @Html.HiddenFor(m => m.AssignmentPartDescription)

    <div class="col-xs-6 form-group">
        @Html.LabelFor(m => m.AssignmentTestCaseList[0].input, new { @class = "control-label" })
        @Html.ValidationMessageFor(m => m.AssignmentTestCaseList[0].input)
        @Html.TextAreaFor(m => m.AssignmentTestCaseList[0].input, new { @class = "form-control" })
    </div>
    <div class="col-xs-6 form-group">
        @Html.LabelFor(m => m.AssignmentTestCaseList[0].output, new { @class = "control-label" })
        @Html.ValidationMessageFor(m => m.AssignmentTestCaseList[0].output)
        @Html.TextAreaFor(m => m.AssignmentTestCaseList[0].output, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}