<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")" title="Mooshak 2.0" class="">
                    <img alt="Mooshak 2.0" src="@Url.Content("~/Content/images/Moos.png")" style="width:50px;height:50px;">
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Courses</a>
                        @Html.Action("ViewAllMyCourses", "Course", null)
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropbtn">Assignments</a>
                        <div class="dropdown-content">
                            @Html.ActionLink("Closed assignments", "ClosedAssignments", "Assignment", routeValues: null, htmlAttributes: new { id = "registerLink" })
                            @Html.ActionLink("Open assignments", "OpenAssignments", "Assignment", routeValues: null, htmlAttributes: new { id = "registerLink" })
                            @Html.ActionLink("Create assignment", "AddAssignment", "Assignment", routeValues: null, htmlAttributes: new { id = "registerLink" })
                            <a href="#">My assignments</a>
                        </div>
                    </li>
					
                    @if (User.IsInRole("Teacher") || User.IsInRole("Student"))
                    { 
                        <li class="dropdown">
                            <a href="#" class="dropbtn">Assignments</a>
                            <div class="dropdown-content">
                                <a href="#">Closed assignments</a>
                                <a href="#">Open assignments</a>
                                <a href="#">All assignments</a>
                                @if (User.IsInRole("Teacher"))
                                {
                                    @Html.ActionLink("Create assignment", "AddAssignment", "Assignment")
                                }
                            </div>
                        </li>
                        if(User.IsInRole("Student"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropbtn">Grades</a>
                                <div class="dropdown-content">
                                    <a href="#">All grades</a>
                                </div>
                            </li>
                        }
                    }
                    @if (User.IsInRole("Admin"))
                    {

                    <li class="dropdown">
                        <a href="#" class="dropbtn">Users</a>
                        <div class="dropdown-content">
                            @Html.ActionLink("Create user", "Register", "Account")
                            @Html.ActionLink("View all", "GetAllUsers", "User")
                        </div>
                    </li> 
                    }
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Other</a>
                        <div class="dropdown-content">
                            @Html.ActionLink("Change password", "ChangePassword", "Manage")
                            @if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Add announcement", "AddAnnouncement", "Announcement")
                                @Html.ActionLink("View all announcements", "GetAllAnnouncements", "Announcement")
                                @Html.ActionLink("Add semester", "AddSemester", "Semester")
                                @Html.ActionLink("View all semesters", "GetAllSemesters", "Semester")
                            }
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/custom.js"></script>
    
</body>


</html>
