@model  Mooshak2_Hopur5.Models.ViewModels.CourseUsersViewModel
@{
    ViewBag.Title = "Add users to course";
}

<h2>Add user to course</h2>

@using (Html.BeginForm("AddUsersToCourse", "Course", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.CourseId, new { @class = "control-label" })
        @Html.ValidationMessageFor(m => m.CourseId)
        @Html.DropDownListFor(m => m.CourseId, (Model.Courses as SelectList), new { @class = "form-control", data_placeholder = "Agent(s)." })
    </div>
    <div id="checkboxes">
        <ul class="userCourseList">
            @for (int i = 0; i < Model.AllUsers.Count; i++)
            {
                <li>
                    @Html.CheckBoxFor(m => m.CheckedUsers[i], new { id = "UserList_" + i })
                    @Html.HiddenFor(m => m.AllUsers[i].Id)
                    @Html.DisplayFor(m => m.AllUsers[i].Email)
                </li>
            }
        </ul>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}
