@model  Mooshak2_Hopur5.Models.ViewModels.CourseViewModel

@{
    ViewBag.Title = "GetAllCourse";
}

<h2><span class="glyphicon glyphicon-book"></span>All Courses</h2>
@foreach (var course in Model.CourseList)
{
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item">
                @course.CourseNumber - @course.CourseName <br/>
                @Html.ActionLink("Edit course", "EditCourse", "Course", new { id = course.CourseId }, htmlAttributes: new { @class = "btn btn-course" })
                @Html.ActionLink("All assignments", "ViewCourse", "Course", new { id = course.CourseId }, htmlAttributes: new { @class = "btn btn-course" })
                @Html.ActionLink("Add users", "Register", "Account", htmlAttributes: new { @class = "btn btn-course" })
            </li>
        </ul>
        
    </div>
}


