@model  Mooshak2_Hopur5.Models.ViewModels.CourseViewModel

@{
    ViewBag.Title = "GetAllCourse";
}
<<<<<<< HEAD
<table class="table courseTable">
    <caption><span class="glyphicon glyphicon-book"></span>All courses</caption>
    @foreach (var course in Model.CourseList)
    {
        string courseName = course.CourseNumber + "-" + course.CourseName;
        <tr>
            <td>
                @Html.ActionLink(courseName, "ViewCourse", "Course", new { id = course.CourseId }, null)
            </td>
            <td>
                @Html.ActionLink("Edit course", "EditCourse", "Course", new { id = course.CourseId }, htmlAttributes: new { @class = "btn btn-course" })
            </td>
            <td>
                @Html.ActionLink("All assignments", "ViewCourse", "Course", new { id = course.CourseId }, htmlAttributes: new { @class = "btn btn-course" })
            </td>
            <td>
                @Html.ActionLink("Add users", "Register", "Account", htmlAttributes: new { @class = "btn btn-course" })
            </td>
        </tr>
    }
</table>


=======

<h2><span class="glyphicon glyphicon-book"></span>All Courses</h2>
@foreach (var course in Model.CourseList)
{
    <div class="col-md-5">
        <ul class="list-group">
           <li class="list-group-item">Nafn: @course.CourseName <br> Númer: @course.CourseNumber </li>
            @Html.ActionLink("Edit course", "EditCourse", "Course", new { id = course.CourseId } , htmlAttributes: new { @class = "btn btn-primary btn-large" })
            @Html.ActionLink("View course", "ViewCourse", "Course", new { id = course.CourseId }, htmlAttributes: new { @class = "btn btn-primary btn-large" })
            @Html.ActionLink("Add user", "Register", "Account", htmlAttributes: new { @class = "btn btn-primary btn-large" })
        </ul>
        
    </div>
}
>>>>>>> e8d915a3aa19e429010efefef1c5beadd802dd97


