@model  Mooshak2_Hopur5.Models.ViewModels.CourseViewModel

@{
    ViewBag.Title = "GetAllCourse";
}

<h2>All Courses</h2>
@foreach (var course in Model.CourseList)
{
    <div class="col-md-5">
        <ul class="list-group">
           <li class="list-group-item">Nafn: @course.CourseName <br> Númer: @course.CourseNumber </li>
            @Html.ActionLink("Edit course", "EditCourse", "Course", new { id = course.CourseId } , htmlAttributes: new { @class = "btn btn-primary btn-large" })
            @Html.ActionLink("All assignments", "ViewCourse", "Course", new { id = course.CourseId }, htmlAttributes: new { @class = "btn btn-primary btn-large" })
            @Html.ActionLink("Add user", "Register", "Account", htmlAttributes: new { @class = "btn btn-primary btn-large" })
        </ul>
        </div>
        }
       

