@model  Mooshak2_Hopur5.Models.ViewModels.AssignmentViewModel
@{
    ViewBag.Title = "Course";

}
<div class="row">
    <div class="col-md-5">
        <table class="table assignmentTable">
            <caption><span class="glyphicon glyphicon-th-list"></span>Open assignments</caption>
            @foreach (var assignment in Model.OpenAssignmentList)
            {
                string assignmentName = assignment.AssignmentName + "  -  " + assignment.DueDate;
                <tr>
                    <td>@Html.ActionLink(assignmentName, "ViewAssignment", "Assignment", new { id = assignment.AssignmentId }, null)</td>
                    <td>@assignment.DueDate</td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-5">
        <table class="table beigeTable">
            <caption><span class="glyphicon glyphicon-th-list"></span>Closed assignments</caption>
            @foreach (var assignment in Model.ClosedAssignmentList)
            {
                string assignmentName = assignment.AssignmentName + "  -  " + assignment.DueDate;
                <tr>
                    <td>@Html.ActionLink(assignmentName, "ViewAssignment", "Assignment", new { id = assignment.AssignmentId }, null)</td>
                    <td>@assignment.DueDate</td>
                </tr>
            }
        </table>
    </div>
</div>
@if (User.IsInRole("Teacher"))
{
    <div class="col-md-2">
        @Html.ActionLink("Create new assignment", "AddAssignment", "Assignment", new { id = Model.CourseId }, new { @class = "btn btn-assignment" })
    </div>
}
<div class="col-md-2">
    @Html.ActionLink("Create group", "Create", "UserGroup", new { id = Model.CourseId }, new { @class = "btn btn-assignment" })
</div>
